{% if template contains 'product' %}
	<strong>Nachlass bei Lieferung und Selbstabholung:</strong><br>
    (Rabattcode während Bezahlvorgang eingeben)
    <br><br>
    <ul>
        <li>3% ab 40€ (<strong>RABATT3</strong>)</li>
        <li>5% ab 60€ (<strong>RABATT5</strong>)</li>
        <li>8% ab 80€ (<strong>RABATT8</strong>)</li>
        <li>10% ab 100€ (<strong>RABATT10</strong>)</li>
{% endif %}